node_modules/
data/
.env
dist/
android/.gradle/
android/local.properties
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
public/vendor/native-google-auth.js
